@using SachOnline.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<SACH>
@{
    ViewBag.Title = "SÁCH THEO CHỦ ĐỀ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<style type="text/css">
    .imgbook {
        transition: all 1s ease-in;
        width: 400px;
    }

        .imgbook:hover {
            transform: scale(0.9);
            cursor: pointer;
        }
</style>
<div class="row text-center">
    <h2 class="text-center">SÁCH THEO CHỦ ĐỀ</h2>
    <hr>
    <div class="row text-center">
        @foreach (var sach in Model)
        {
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                <div class="thumbnail">
                    <img src="/Statics/Images/@sach.AnhBia" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook ">
                    <div class="caption">
                        <h4 style="min-height: 70px">
                            <a href="@Url.Action("ChiTietSach", "SachOnline", new { id=sach.MaSach})">@sach.TenSach</a>
                        </h4>
                        <p>
                            <a href=" @Url.Action("ThemGioHang", "GioHang", new { ms = sach.MaSach, url = Request.Url.ToString() }) " class="btn btn-warning" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr />
    <nav class="text-center">
        <!-- Add class .pagination-lg for larger blocks or .pagination-sm for smaller blocks-->
        <ul class="pagination">
            <li>
                Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
                <div class="MenuTrang">
                    @Html.PagedListPager(Model, page => Url.Action("SachTheoChuDe", new
                    {
                        iMaCD = ViewBag.MaCD,
                        page = page
                    }))
                </div>
            </li>
        </ul>
    </nav>

    <style>
        .MenuTrang {
            display: inline;
            text-align: center;
        }
    </style>
</div>


